body{
	font-family: calibri;
	background-color: rgb(245, 240, 220);
}
h2{
	color: rebeccapurple;
}

section{
	display: flex;
	flex-wrap: wrap;
	padding: 3rem;
}
article{
	border-radius: 10% 0 10% 0;
	border: 1px solid gray;
	width: 250px;
	height: 400px;
	margin: 10px;
	padding: 10px;
	background-color:rgb(252, 224, 141);
	box-shadow: 2px 5px 10px gray;
}
img{
	width: 250px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

form{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 1.2em;
	flex-direction: column;
	height: 700px;
	
}
